<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <a href="../index.php">
      <button name="home" type="submit">👩‍🎓 Home</button>
    </a>
    <h1>BORRAR DATOS OPOSITOR</h1>
    <form action="../controller/ctller_borrar_opositor.php" method="post">
      <p>
        <label for="codOpo">Código opositor:</label>
        <input type="text" name="codOpo" id="codOpo" />
      </p>
      <button name="borrar" type="submit">Borrar</button>
    </form>
    <br />
  </body>
</html>
