/* 1. Selecciona todos los elementos h2 y h3 y cambia el tamaño de fuente a 1.5em. */
h1,
h3 {
  font-size: 1.5em;
}
/* 2. Selecciona los párrafos que tengan la clase importante y cambia el color de fondo a amarillo. */
p.importante {
  background-color: yellow;
}
/* 3. Selecciona la sección con el ID avanzado y cambia su color de fondo a gris claro. */
section#avanzado {
  background-color: rgba(128, 128, 128, 0.532);
}
/* 4. Selecciona todos los párrafos (p) dentro de la sección #principal y cambia el color del texto a azul oscuro. */
section#principal p {
  color: darkblue;
}
/* 5. Selecciona los enlaces dentro de los artículos (article) y cambia el color de los enlaces a verde. */
article a {
  color: green;
}
/* 6. Selecciona todos los elementos span que están dentro de párrafos y cambia el color del texto a morado. */
p span {
  color: purple;
}
/* 7. Selecciona todas las listas (ul y ol) dentro de cualquier sección (section) 
y cambia el estilo de lista a cuadrado (square).*/
section ul,
ol {
  list-style: square;
}
/* 8. Selecciona solo los párrafos que son hijos directos de los elementos article 
y cambia el color del texto a marrón. */
article > p {
  color: brown;
}

/* 9. Selecciona solo los h2 que son hijos directos de las secciones y cambia el color del texto a azul. */
section > h2 {
  color: blue;
}
/* 10. Selecciona todos los párrafos (<p>) que sean hermanos de un encabezado h2 en la misma sección, 
pero no necesariamente adyacentes, y cambia el color del texto a rojo. */
h2 ~ p {
  color: red;
}

/* 11. Selecciona todos los elementos span que sean hermanos de un enlace (<a>) en el mismo artículo (<article>) 
y cambia el color de fondo a gris claro. */
article a ~ span {
  background-color: rgb(201, 44, 196);
}
/* 12. Selecciona el primer párrafo que sigue inmediatamente después de un encabezado h2 
y cambia su color de texto a azul oscuro. */
h2 + p {
  color: darkblue;
}
/* 13. Selecciona el primer h3 que sigue inmediatamente después de un h2 y cambia el color del texto a verde. */
h2 + h3 {
  color: green;
}
/* 14. Selecciona todas las imágenes (<img>) cuyo atributo src termine en .jpg y cambia su opacidad al 80%. */
img[src$=".jpg"] {
  opacity: 80%;
}
/* 15. Selecciona todas las secciones (<section>) que tengan un atributo id definido 
y cambia el color de fondo a beige. */
section[id] {
  background-color: beige;
}
/* 16. Selecciona todos los enlaces (<a>) cuyo atributo href comience con "https" y cambia el color del texto a verde oscuro. */
a[href^="https"] {
  color: darkgreen;
}
