body {
  max-width: 1200px;
  margin: auto;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.articulo1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.articulo2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}
